.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1.5s linear;
  height: 12em;
}

.App-header {
  background-color: #222;
  height: 50%;
  padding: 1em;
  color: white;

}

.App-title {
  font-size: 5em;
}

.App-subtitle {
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% {transform:rotate(20deg);}
  50% {transform:rotate(-20deg);}
  100% {transform:rotate(20deg);}
}
