@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans');
h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive;
}

h4, p, a, li {
    font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
